body, h2, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #070216;
    color: #fff;
    line-height: 1.6;
}

h1 {
    font-family: 'Your Dynamic Font', sans-serif;
    animation: sparkle 10s ease infinite;/* Use the dynamic font */
    font-size: 2.5rem;
    color: #fff; /* White text color */
    margin-bottom: 2rem; /* Add margin below the heading */
}
@keyframes sparkle {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #070216;
    background-position: center; 
}

.star {
    position: absolute;
    background-color: #FFF;
    border-radius: 50%;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: flex-end;
    display: flex;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
    background: rgba(161, 152, 234, 0.3);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
}

#navbar:hover {
    background-color: rgba(161, 173, 227, 0.5);
    cursor: pointer;
}

.menu {
    margin-right: 95px;
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu.active {
    color: rgb(215, 105, 239);
    cursor: pointer;
}

header {
    position: relative;
    height: 1vh;
}

#about {
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
    gap: 2rem; 
}

.photo {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid aliceblue;
    margin-bottom: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center; 
    margin-left: 10%; 
    margin-right: 10%; 
    padding-right: 5%;
    padding-left: 5%;
}

.intro p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
}

a.btn {
    text-decoration: none;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: rgba(161, 173, 227, 0.5);
}

#title{
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    justify-content: center;
}

.project {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Add space between items */
    margin-bottom: 40px;
}

.project-content {
    flex: 1;
    padding-right: 0px;
    padding-left: 10%;
    text-align: center;
}

.project-image {
    flex: 0 0 45%; /* Set the image width */
    text-align: center; /* Align image and button to the right */
}

.project-image img {
    max-width: 50%; 
    height: 250px;
    border-radius: 1.3rem;
    border: solid aliceblue;
    margin-bottom: 10px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        align-items: flex-start;
    }

    #about .photo {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .intro {
        max-width: 100%;
    }
    .project-image img {
        max-width: 190px; /* Ensure image doesn't exceed container width */
        height: 120px;
}
}
.ancor {
    color: aliceblue;
    margin: 10px; 
}

#footer {
    margin-top: 150px;
    text-align: center;
    padding: 2rem;
    background-color: #070216;
    color: #fff;
}
